PORT=5000
MONGODB_URI=mongodb+srv://saumyajichkar21_db_user:lon1yy2B5WPvQkxs@cluster0.ianik4l.mongodb.net/healthband?retryWrites=true&w=majority&appName=Cluster0
THINGSPEAK_CHANNEL_ID=3400229
THINGSPEAK_READ_API_KEY=1FJIVQFC6AAP4SPN
EMAIL_USER=learn.a.littlemore01@gmail.com
EMAIL_PASS=avoumdukjikcmgai
ALERT_EMAIL_TO=learn.a.littlemore01@gmail.com
CLIENT_URL=http://localhost:5173